body{
    font-family: "open sans", sans-serif;
    margin-top: 60px;
}

.card-img-top {
  width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
  height: 300px; 
  object-fit: cover; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.card {
  height: 100%;
}

.image-container {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}